@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlusJackartaSans-Regular';
  src: url('/src/assets/font/PlusJakartaSans-Regular.ttf');
}

@font-face {
  font-family: 'PlusJackartaSans-Medium';
  src: url('/src/assets/font/PlusJakartaSans-Medium.ttf');
}

body {
  margin: 0;
  font-family: PlusJackartaSans-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(9, 9, 10);
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  color-scheme: dark;
}

.list-checkmark {
  list-style-image: url('/src/assets/img/icon/checkmark-48.png');
}
